@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  /* Colors: */
  ---e46a25: #e46a25;
  --unnamed-color-8a8a8a: #8a8a8a;
  --unnamed-color-c1c8cc: #c1c8cc;
  --unnamed-color-ededed: #ededed;
  ---23b1a9: #23b1a9;
  ---1a0dab: #1a0dab;
  ---b9b9b9: #b9b9b9;
  ---10242b: #10242b;
  ---4c4c4c: #4c4c4c;
  ---d1121b: #d1121b;
  ---f7f7f7: #f7f7f7;
  ---ffffff: #ffffff;
  ---1ebbd9: #1ebbd9;
}
/* ---------------------HEADER CSS--------------------- */
.header {
  background-color: var(---f7f7f7);
}
.claim-no-label {
  color: var(---10242b);
  font-size: 16px;
}
.claim-label {
  color: var(---d1121b);
  font-size: 16px;
}
.view-details-label {
  color: var(---23b1a9);
  font-size: 12px;
}

/* ----------------------TABS CSS------------------------- */
#tab-one {
  color: var(---ffffff);
  background-color: var(---1ebbd9);
  border: 1px solid #b5c1c4;
  font-size: 16px;
  height: 45px;
  width: 149px;
}
#tab-two {
  color: var(---10242b);
  font-size: 16px;
  border: 1px solid #b5c1c4;
  height: 45px;
  width: 149px;
  background-color: var(---ffffff);
}

/* ------------------HEADING CSS-------------------- */
.heading {
  color: var(---10242b);
  size: 18px;
  height: 22px;
}

/* ----------------EXPANSION PANEL -------------------- */
.expansion-panel-container {
  margin-top: 2px;
  border: 1px solid #b5c1c4;
}
.expansion-panel-header {
  display: flex;
  align-items: center;
  background-color: var(---1ebbd9);
  color: var(---ffffff);
  height: 36px;
  padding: 20px;
}
.heading-item {
  color: var(---ffffff);
  font-size: 14px;
}
.toggle-btn {
  height: 18px;
  width: 18px;
}

/* ---------------------INPUT-LABEL-------------- */
.textfield-main {
  color: var(---4c4c4c);
  font-size: 13px;
  height: 13px;
  width: 117px;
}
.input {
  border-radius: 0px !important;
}
.form-group {
  width: 200px;
}
.required {
  margin-left: 3px;
  color: var(---d1121b);
}

/* --------------------BUTTONS-CSS------------------------ */
.btn {
  color: var(---d1121b);
  box-shadow: 0px 2px 2px #d1121b3d;
  border: 1px solid #d1121b;
  border-radius: 4px;
}
.submit-btn {
  color: var(---23b1a9);
  box-shadow: 0px 3px 4px #23b1a93d;
  border-radius: 4px;
}
.add-assessment-btn {
  color: var(---1ebbd9);
  box-shadow: 0px 3px 4px #1ebbd93d;
  border-radius: 4px;
  margin-bottom: 5px;
  width: 176px;
  height: 35px;
}

/* -------------------LINK-TAG-CSS---------------------- */
a {
  text-decoration: none;
}
